@use "../../variables.scss" as *;

.header {
  border-bottom: 1px solid gray;
  position: fixed;
  width: 100%;
  background-color: bisque;
  z-index: 5;
  height: 6rem;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
  }

  &__image {
    img {
      object-fit: contain;
    }
  }
  &__links {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
}
