@use "../../variables.scss" as *;

.button-home {
  background-color: $main-color;
  color: white;
  margin: 2rem 0;
  padding: 1rem 2rem;
  border-radius: 50%;
  border: none;
  box-shadow: 10px 10px 10px black;
  &:hover {
    background-color: $secondary-color;
  }
  @include desktop {
    background-color: green;
  }
}
