@use "../variables.scss";

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &__section-one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
