@charset "UTF-8";

//pages
@forward "../styles/pages/index.scss";
//components
@forward "../styles/components/button.scss";
//layout
@forward '../styles/components/layout/header.scss';
@forward '../styles/components/layout/footer.scss';
