@use "./config/colors" as *;
@use "./config/breakpoints" as *;

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%; // 10px
}
body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  //   background-color: $color-brand-beige;
  //   color: $color-brand-black;
  //   font-weight: $regular-font-weight;
  //   font-family: $body-font-family;
  font-size: 1.6rem;

  &.disable-scroll {
    overflow: hidden;
  }

  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    cursor: pointer;
    color: gray;
  }

  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    main {
      position: relative;
      flex-grow: 1;
      margin-top: 7rem;
      @include desktop {
        margin-top: 7rem;
      }
    }
  }

  .hidden {
    display: none;
  }
  // .site-overlay {
  //   display: none;
  //   &--open {
  //     display: block;
  //     position: fixed;
  //     inset: 0;
  //     //   background-color: rgba($color-brand-black, 0.2);
  //     z-index: 400;
  //   }
  // }
  // .breadcrumbs {
  //   list-style-type: none;
  //   font-size: 1.4rem;
  //   display: none;
  //   @include desktop {
  //     display: inline-flex;
  //   }
  //   li {
  //     &:not(:first-child) {
  //       margin-left: 0.5rem;
  //     }
  //     &:not(:last-child) {
  //       &:after {
  //         content: "/";
  //       }
  //     }
  //     a {
  //       // color: $color-brand-black;
  //       text-decoration: none;
  //       margin-right: 0.5rem;
  //     }
  //   }
  // }
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
